<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/mainIndex.css">
<%- include('./partials/nav') %>

<main>
  <h1>Welcome, <%= user ? user.profile.name : "Fellow Foodie!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <h2>
    Foodie is a fun and easy sight to use regarding all things food! Simply login using your Google Account and the explore the Site!
  </h2>
  <h3>Foodie was originally created as an easy, go-to spot to see various recipes from various users. From there, you're able to create the recipes, try the out yourself, give them a rating and review, and even uplaod your own family recipes! We encourage a fun and joyful food life so come join us!</h3>
</main>

<%- include('./partials/footer') %>
