<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <p>Originally Created By: <%= food.owner.name %></p>
    <ul>
      <li><%= food.name %></li>
      <li><%= food.prepTime %></li>
      <li><%= food.ingredients %></li>
    </ul>
    <% if (food.owner.equals(user?.profile._id)) { %>
      <form action="/foods/<%= food._id %>/edit" method="GET">
        <button class="btn" type="submit"> Edit this food</button>
      </form>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>