<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <p>Originally Created By: <%= food.owner.name %></p>
    <ul>
      <li><%= food.name %></li>
      <li><%= food.prepTime %></li>
      <li><%= food.ingredients %></li>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>